<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>705008967646-1dpt7sc2uei60ut071lcslum660nh07q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705008967646-1dpt7sc2uei60ut071lcslum660nh07q</string>
	<key>API_KEY</key>
	<string>AIzaSyAE6wDB_cwT7Z5u1nykVJZ6g38T91Am3JM</string>
	<key>GCM_SENDER_ID</key>
	<string>705008967646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.cop13.feed</string>
	<key>PROJECT_ID</key>
	<string>cop13-7c861</string>
	<key>STORAGE_BUCKET</key>
	<string>cop13-7c861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:705008967646:ios:5d5f9f4ba5c3ec04</string>
	<key>DATABASE_URL</key>
	<string>https://cop13-7c861.firebaseio.com</string>
</dict>
</plist>
